*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }
  .icon_img{
    width: 35px;
    height: 35px;
  }
  /* header start */
  .img-nav{
    width: 100px;
  }
  .nav-link,.nav-links{
    font-weight: 600;
    font-size: 20px;
    color: #000;
    font-family: 'Montserrat';
  }
  .nav-links{
    width: 150px;
  }
  .nav-link:hover{
    color: #000;
    background: #bfc6cc;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 35px;
    margin-left: 25px;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid silver;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .span-img{
    margin-top: 5px;
  }
  .btn-img{
    width: 40px;
    border-radius: 25px;
    margin-left: 1rem;
    margin-top: -4px;
  }
  form button{
    border-radius: 25px; 
    border: 2px solid #fff; 
    background: #fff;
    margin-left: 1rem;
    z-index: 5;
  }
  /* *********************************** */
  .block_chek{
    width: 00px;
    height: 300px;
    font-size: 10px;
    border-radius: 20px;
    border: none;
    z-index: 1;
    
    /* background: url(../img/икон\ солнце.jpg) center center no-repeat / cover; */
}
.dir{
    width: 300px;
    height: 150px;
}


@keyframes infinite-spinning {
    0% {
        color: darkmagenta;
        text-shadow: darkmagenta -2px -2px 5px;
    }

    25% {
        color: darkorange;
        text-shadow: darkorange -2px -2px 5px;
    }

    50% {
        color: yellow;
        text-shadow: yellow -2px -2px 5px;
    }

    75% {
        color: greenyellow;
        text-shadow: greenyellow -2px -2px 5px;
    }

    100% {
        color: blue;
        text-shadow: blue -2px -2px 5px;
    }
}

.block-spin {
    animation: infinite-spinning 10s infinite;
    background: #000;
}
/* blackout end */
/* Off on start */
.switch-container{
    width: 100px; 
    max-width: 80px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
 }
 .switch-container .switch-bg {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     background-color: #949494;
     z-index: -1;
     transition: background-color .2s ease-in;
 }
 #switch:checked ~ .switch-bg {
     background-color: #37ca37;
 }
 .on span {
     font-size: 11px;
     font-weight: 700;
     color: #fff;
     line-height: 1;
     opacity: 0;
     transition: opacity .3s ease-in-out;
 }
 .off span {
     font-size: 11px;
     font-weight: 700;
     color: #fff;
     line-height: 1;
     opacity: 1;
     transition: opacity .3s ease-in-out;
 }
 #switch:checked ~ .on span {
     opacity: 1;
 }
 #switch:checked ~ .off span {
     opacity: 0;
 }
 .round-box{
     position: absolute;
     width: 33px;
     height: 33px;
     top: 50%;
     transform: translate(-3px, -50%);
     background-color: #f6f6f6;
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
     border-radius: 50%;
     transition: transform .3s ease-in-out;
 }
 #switch:checked ~ .round-box {
     transform: translate(25px, -50%);
 }
/* Off on end */

/* header end */
/* sec-one start */

.sec-one img{
    width: 18rem;
    height: 25rem;
    margin-top: 20%;
    border-radius: 10px;
    border: 5px solid silver;
}
.dir{
    width: 100%;
    height: 2px;
    background: #bac0c6;
    margin-top: 5%;
}

/* sec-one end */
/* sec-two start */

.sec-two{
  margin-top: 5%;
}
.sec-two img{
  width: 60rem;
  margin-left: 3%;
  height: 25rem;
  border: 5px solid black;
  border-radius: 15px;
}

/* ***************************************************** */
@media(max-width:1200px){
  .sec-two img {
    width: 50rem;
    height: 21rem;
  }
}

@media(max-width:992px){
  .sec-two img {
    width: 39rem;
    height: 18rem;
}
}

@media(max-width:770px){
  .sec-one img {
    margin-left: -8rem;
  }
}

@media(max-width:768px){
  .sec-two img {
    width: 30rem;
    height: 14rem;
}
.sec-one{
  margin-left: 18%;
}
.sec-one img {
  margin-left: -8rem;
}
}

@media(max-width:715px){
  .sec-one img {
    margin-left: 0rem;
}
}

@media(max-width:545px){
  .sec-one img {
    margin-left: 0rem;
}
}

@media(max-width:530px){
  .dir{
    display: none;
  }
}

@media(max-width:505px){
  .sec-two img {
    width: 30rem;
    height: 14rem;
    margin-left: -19px;
}
}

@media(max-width:325px){
  .navbar-toggler {
    margin-left: 20rem;
    margin-top: -6rem;
  }
  .sec-two img {
    width: 26rem;
    height: 13rem;
    margin-left: -19px;
}
.switch-container {
  margin-top: 24px;
}
}
@media (max-width:170px){
  header, section{
      display: none;
  }
}
img{
  width: 100%;
}