* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141516;
}

.lll {
  padding-top: 5%;
}

.header-a {
  padding: 15px;
  margin-left: -6%;
  color: greenyellow;
  font-family: 'Montserrat';
  border: 2px solid greenyellow;
}

.header-a:hover {
  text-decoration: none;
  color: red;
  border: 2px solid red;
}

.card .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

.cards-container, .card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5%;
}

.card {
  max-width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  margin: 25px 0;
  width: 30%;
}

@media screen and (max-width: 700px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 90%;
  }
}

.card .elms-animation,
.card .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .elms-animation {
  z-index: 5;
}

.card .elms-animation span {
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  height: 0;
  width: 0;
  transition: all .5s ease-out;
}

.card .elms-animation span.one {
  top: 0;
  left: 0;
}

.card .elms-animation span.two {
  top: 0;
  right: 0;
}

.card .elms-animation span.three {
  left: 0;
  bottom: 0;
}

.card .elms-animation span.four {
  right: 0;
  bottom: 0;
}

.card:hover .elms-animation span {
  width: 50%;
  height: 50%;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card .content {
  z-index: 6;
  visibility: hidden;
}

.card:hover .content {
  animation: show .3s .4s linear forwards;
}

.card .content button {
  padding: .6rem 1.3rem;
  border: 3px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: background .3s ease;
}

.card .content button:hover {
  background: #FFF;
  color: #333;
}

@keyframes show {
  to {
    visibility: visible;
  }
}

/* blackout start */
.block_chek {
  width: 00px;
  height: 300px;
  font-size: 10px;
  border-radius: 20px;
  border: none;
  z-index: 1;

  /* background: url(../img/икон\ солнце.jpg) center center no-repeat / cover; */
}

.dir {
  width: 300px;
  height: 150px;
}


@keyframes infinite-spinning {
  0% {
    color: darkmagenta;
    text-shadow: darkmagenta -2px -2px 5px;
  }

  25% {
    color: darkorange;
    text-shadow: darkorange -2px -2px 5px;
  }

  50% {
    color: yellow;
    text-shadow: yellow -2px -2px 5px;
  }

  75% {
    color: greenyellow;
    text-shadow: greenyellow -2px -2px 5px;
  }

  100% {
    color: blue;
    text-shadow: blue -2px -2px 5px;
  }
}

.block-spin {
  animation: infinite-spinning 10s infinite;
  background: #000;
}

/* blackout end */
/* Off on start */
.switch-container {
  width: 100px;
  max-width: 80px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.switch-container .switch-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #949494;
  z-index: -1;
  transition: background-color .2s ease-in;
}

#switch:checked~.switch-bg {
  background-color: #37ca37;
}

.on span {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.off span {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

#switch:checked~.on span {
  opacity: 1;
}

#switch:checked~.off span {
  opacity: 0;
}

.round-box {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 50%;
  transform: translate(-3px, -50%);
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: transform .3s ease-in-out;
}

#switch:checked~.round-box {
  transform: translate(25px, -50%);
}

/* Off on end */

@media(max-width:1200px){
  .header-a{
    padding: 18px;
    margin-left: 2%;
  }
}


@media(max-width:965px){
  .header-a {
    padding: 14px 20px;
}
}

@media(max-width:770px){
  .sec-one img {
    margin-left: -8rem;
  }
}

@media(max-width:768px){
  .sec-two img {
    width: 30rem;
    height: 14rem;
}
.sec-one{
  margin-left: 18%;
}
.sec-one img {
  margin-left: -8rem;
}
}

@media(max-width:715px){
  .sec-one img {
    margin-left: 0rem;
}
}

@media(max-width:545px){
  .sec-one img {
    margin-left: 0rem;
}
}

@media(max-width:530px){
  .dir{
    display: none;
  }
}

@media(max-width:505px){
  .sec-two img {
    width: 30rem;
    height: 14rem;
    margin-left: -19px;
}
}

@media(max-width:325px){
  .navbar-toggler {
    margin-left: 20rem;
    margin-top: -6rem;
  }
  .sec-two img {
    width: 26rem;
    height: 13rem;
    margin-left: -19px;
}
.switch-container {
  margin-top: 24px;
}
}
@media (max-width:170px){
  header, section{
      display: none;
  }
}